* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --white_glow: 0 0 3px white;
  --transparent_black: rgba(0, 0, 0, 0.5);
}

html {
  font-size: 10px;
  font-family: Retroica, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: hidden;
  font-size: 5rem;
  color: white;
  background-color: black;
}

button{
  background: unset;
  border: unset;
}

.parallax_group {
  position: relative;
  overflow: hidden;
  height: 100vh;
  perspective: 800px;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* z-index: 10; */
}

/* Loader -------------------------------------------- */

.loading_page {
  z-index: 10;
  position: absolute;
  inset: 0;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.8s;
  opacity: 1;
}

.loader {
  width: 10rem;
  animation: rotationX 4s infinite linear;
}

@keyframes rotationX {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: rotateX(359deg) rotateY(180deg);
  }

  100% {
    transform: rotateX(359deg) rotateY(359deg);
  }
}

/* Parallax background ----------------------------------- */

.parallax_layer {
  position: absolute;
  inset: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: -10;
}

.base_layer {
  position: absolute;
  height: 300vh;
  background-image: url("img/fond_affiche.jpg");
  background-attachment: local;
  background-size: cover;
  background-repeat: repeat-y;
  transform: translateZ(-800px) scale(2);
}

.top_layer {
  position: absolute;
  height: 410vh;
  background-image: url("img/diag_rouge.png");
  background-attachment: local;
  background-size: min(120rem, 100vw) auto;
  background-repeat: repeat-y;
  background-position: top;
  transform: translateZ(-100px) scale(1.125);
}

.mid_layer {
  position: absolute;
  height: 380vh;
  background-image: url("img/diag_bleue.png");
  background-attachment: local;
  background-size: min(120rem, 100vw) auto;
  background-repeat: repeat-y;
  background-position: top;
  transform: translateZ(-400px) scale(1.5);
}

/* Contenu ------------------------------------------------------------------------ */

.quadra {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("img/quadrabang.png");
  background-attachment: local;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Compteur ----------- */

.counter_wrapper {
  position: absolute;
  top: 100vh;
  height: auto;
  width: 100vw;
  padding: 6rem 1rem;
  background-color: var(--transparent_black);
  box-shadow: 0 0 5px 5px var(--transparent_black);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter_wrapper h3 {
  font-size: 3rem;
  text-shadow: var(--white_glow);
}
#counter {
  font-family: Retroica, Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-areas: "d_top h_top m_top s_top" "d_bottom h_bottom m_bottom s_bottom";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10rem 2rem;
  color: white;
  text-align: center;
  font-size: 9rem;
  width: min(100vw, 60rem);
  height: auto;
  margin: auto;
  margin-top: 4rem;
  text-shadow: var(--white_glow);
}

#counter div {
  vertical-align: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Billeterie --------- */

.billeterie {
  position: absolute;
  top: 150vh;
  height: auto;
  width: 100vw;
  padding: 4rem 1rem;
  /* background-color: var(--transparent_black);
  box-shadow: 0 0 5px 5px var(--transparent_black); */
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.billeterie h3 {
  font-size: 5rem;
  text-shadow: var(--white_glow);
}

.billet_ctnr {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  max-width: 100vw;
}

.billet{
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;

  width: 25rem;
  padding: 4rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  /* background-color: rgba(139, 0, 0, 0.616); */
  /* box-shadow: 0 0 px 5px rgba(62, 96, 106, 0.527);  */

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.prix{
  font-size: 4rem;
  margin: 2rem;
  font-family: Retroica, Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}

.tarif{
  height: 6rem
}

.billet a{
  display: block;
  height: auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  z-index: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(196, 82, 66, 0.712);
  box-shadow: 0 0 10rem 100rem rgba(62, 96, 106, 0.527);
  transition: all 0.4s ease;
}

.billet a.achat:hover{
background-color: rgba(255, 0, 0, 0.8);
transition: all 0.4s ease;
}

.billet button{
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  font-family: Retroica, Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.billet h4{
  font-size: 3rem;
  font-family: Retroica, Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}

.billet p{
  z-index: 1;
}

.ouverture{
  font-size: 1.3rem;
}
.date_ouverture{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 25px;
}



/* Responsive ------------------------------------------------------------- */

@media screen and (orientation: portrait), screen and (max-width: 800px) {
  html {
    font-size: 6px;
  }
  .quadra {
    background-image: url("img/quadra_m.png");
  }
  #counter {
    font-size: 10rem;
  }
}

/* Fonts ------------------------------------------------------------------------- */

@font-face {
  font-family: "Retroica";
  src: url("fonts/Retroica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
