* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --white_glow: 0 0 3px white;
}

html {
  font-size: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  overflow: hidden;
  font-size: 5rem;
  color: white;
  background-color: black;
}


.parallax_group {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  height: 100vh;
  perspective: 800px;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* z-index: 10; */
}

/* Parallax background ----------------------------------- */

.parallax_layer {
  position: absolute;
  inset: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: -10;
}

.base_layer {
  position: absolute;
  height: 300vh;
  background-image: url("img/fond_affiche.jpg");
  background-attachment: local;
  background-size: cover;
  background-repeat: repeat-y;
  transform: translateZ(-800px) scale(2);
}

.top_layer {
  position: absolute;
  height: 410vh;
  background-image: url("img/diag_rouge.png");
  background-attachment: local;
  background-size: min(120rem, 100vw) auto;
  background-repeat: repeat-y;
  background-position: top;
  transform: translateZ(-100px) scale(1.125);
}

.mid_layer {
  position: absolute;
  height: 380vh;
  background-image: url("img/diag_bleue.png");
  background-attachment: local;
  background-size: min(120rem, 100vw) auto;
  background-repeat: repeat-y;
  background-position: top;
  transform: translateZ(-400px) scale(1.5);
}

/* Contenu -------------------------------- */

.quadra {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 150vw;
  background-image: url("img/quadrabang.png");
  background-attachment: local;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#counter {
  position: absolute;
  top:100vh;
  font-family: Retroica, Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-areas: "d_top h_top m_top s_top" "d_bottom h_bottom m_bottom s_bottom";
  grid-template-columns: 15rem 15rem 15rem 15rem;
  grid-template-rows: 10rem 2rem;
  color: white;
  text-align: center;
  font-size: 9rem;
  width: min(100vw, 60rem);
  height: auto;
  margin: auto;
  margin-top: 10rem;
  border-radius: 10px;
  z-index: 1;
  text-shadow: var(--white_glow);
}

#counter div {
  vertical-align: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fonts --------------------------------------------- */

@font-face {
  font-family: "Retroica";
  src: url("fonts/Retroica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
