main{
    animation: transitionIn 2s;
}

.hero .container, .hero h1{
    animation: slideIn 0.8s;
}

@keyframes transitionIn {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateY(5rem);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

/*Pour la page event*/
.description_event{
    background:white;
    text-align: left;
    border-radius: 12px;
    padding:2em;
}
.description_event h2{
    font-size: 2em;
}
.description_event img{
    height: 20px;
}
.description_event div{
    display:flex;
    flex-direction: row;
    margin-bottom: 8px;
}
.description_event div h2{
    margin:0 5px;

}