body {
    display: flex;
    flex-direction: column ;
}

#form-ajouter-grf{
    margin-top: 150px;
    color :white;
    text-align: center;
    }

.choix-adr{
    color:white;
}

.check-with-label:checked + .label-for-check {
    font-weight: bold;
  }

#form-ajouter-grf label{
    color:white;
}
