/* $$ VARIABLES */

/* définition des variables globales */

:root {
  --main-txt-color: #f5bd81;
  --main-title-color: #fbcb04;
  --title-color: #f5e4b6;
  --background-color: rgb(24, 24, 24);
  --artist-color: #e0dad3;
}

/* $$ GENERAL STYLES */

/* propriétés de style général */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-txt-color);
  font-family: "BRHendrix_Bold";
}

.container {
  height: 100vh;
}
.container img {
  width: 100%;
  position: absolute;
  top:-10vh;
  height: 130vh;
  z-index: -1;
}
.main-title {
  position: absolute;
  width: 50%;
  height: auto;
  object-fit: none;
  z-index: 0;
  transform: translate(0, -25%);
}

.title {
  width: 80vw;
  padding: 5vh;
  align-items: center;
}

.title p {
  color: var(--main-title-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--background-color);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.content-divided {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.content-divided div {
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.partner img {
  width: 10rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
  transition: opacity 0.2s ease;
  filter: invert(1);
}

.partner img:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
}

.text {
  font-size: 1.1rem;
  text-align: center;
}

.paddingbottom {
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
  color: var(--title-color);
  font-family: "AgencyFBBlack_Regular";
  text-align: center;
}

ul {
  text-align: left;
  padding: 0px;
}

.artist {
  display: flex;
  flex-direction: column;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 30vw;
  min-height: 60vh;
  padding: 5vh;
}

.artist p {
  color: var(--artist-color);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.artist img {
  height: 8rem;
  width: auto;
}

.neumorphism-box {
  background-color: var(--background-color);
  border-radius: 8px;
  -moz-box-shadow: -8px -8px 24px 0 #2a2a2a, 8px 8px 24px 0 #000000;
  -webkit-box-shadow: -8px -8px 24px 0 #2a2a2a, 8px 8px 24px 0 #000000;
  box-shadow: -8px -8px 24px 0 #2a2a2a, 8px 8px 24px 0 #000000;
}

ul {
  font-size: 1.1rem;
}

.spacer {
  aspect-ratio: 900/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(img/wavesbottom.svg);
}

.layer2 {
  background-image: url(img/wavestop.svg);
}

.button {
  display: flex;
  text-align: center;
  align-items: center;
}
.button a {
  margin: 2.5vh;
  margin-bottom: 2vh;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--artist-color);
}

.ticket {
  min-width: 23vw;
  padding: 2vw;
  text-align: left;
}

.ticket p,.ticket h4,.ticket i {
  color: var(--artist-color);
}

.ticket h4 {
  font-size: 1.5rem;
}

.ticket p {
  padding-top: 1rem;
}
/* $$ RESPONSIVE */

/* adaptation aux différentes tailles d'écran */

@media screen and (orientation: portrait), screen and (max-width: 800px) {
.content-divided {
  flex-direction: column;
}

.artist {
  min-width: 90vw;
}
.ticket {
  min-width: 80vw;
}

.main-title {
  max-width: 95vw;
  height: auto;
}
}

/* $$ FONTS */

/* importation des polices spéciales */

@font-face {
  font-family: "BRHendrix_Bold";
  src: url("fonts/BRHendrix_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "AgencyFBBlack_Regular";
  src: url("fonts/AgencyFBBlack_Regular.otf") format("opentype");
}