* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Mexican", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --background_dark: #bf2227;
  --background_light: #f40f17;
  --background_highlight: #f8f37e;
  --text_color: rgb(255, 255, 255);
  --shadow_color: #f8f584;

  --link_color: #4891c7;
  --template_color: #ba0b00;

  --white_border: 0.1rem solid white;
  --blue: transparent ;
  --blue_text_shadow: transparent;
  --blue_box_shadow: ;
  --danger: #e71f3d;
  --danger_text_shadow: ;
  --danger_box_shadow: ;
  --green: #47b868;
  --green_text_shadow: 0 0 7px white;
  --green_box_shadow: ;

  --yellow: #f8d10d;
  --dark_purple: #2a0a3b;
  --purple: #411f57;

}
html,
body {
  height: 100%;
  font-family: "GangOfThree";
}
body {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background: no-repeat url("img/fond_latinano.jpg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-color: #2a0a3b;
  color: white;
  position: absolute;
  text-align: center;
}

/* Vieux bordel ------------------------------------------------------------------------------------------- */
img.sydney {
  position: relative;
  width: 20vw;
  left: 40vw;
  right: 40vw;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
a:hover,
a:active {
  text-decoration: none;
}

div.etat {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  text-align: center;
  background-color: var(--template_color);
  border-radius: 4px;
  font-size: 18pt;
}
p.etat {
  font-family: "CaviarDreams";
}
a.etat {
  font-family: "CaviarDreams";
}

p.liste {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  width: 40vw;
  position: relative;
  left: 30vw;
  font-size: 2em;
  text-align: center;
}

strong.nom {
  color: "red";
  font-style: bold;
}

/*div.liste{
		padding:10px;
		margin: 5px;
		border-radius:10px;
		background:rgba(255, 255, 255, 0.5);
		width: 30vw;
		position: relative;
	}*/

p.soiree {
  text-align: center;
  font-size: 10em;
}

/* Page shotgun (index) + Connexion -------------------------------------------------------------------------------- */

#titre_sg {
  /* Affiche si on a shotgun ou pas!! */
  text-align: center;
  width: 30rem;
  max-width: 90vw;
  margin: auto;
  margin-top: 18.2rem;
  margin-bottom: 0.5rem;
  background-color: var(--dark_purple);
  overflow: visible;
  font-size: 2rem;
  border: solid 0.4rem var(--yellow);
  border-radius: 1rem;
  box-shadow: var(--blue_box_shadow);

}

#counter {
  /* délimite le compteur: nécessaire pour la forme logo olympics en relative */
  width: 500px;
  max-width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit_holder{
  margin: 0 1rem ;
}

.chiffre{
  font-size: 5rem;
}

#co_msg_ctnr,
#ok_msg_ctnr,
#danger_msg_ctnr {
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.4rem;
  width: 30rem;
  text-align: center;
  border-radius: 0.5rem;
}

#co_msg_ctnr,
#danger_msg_ctnr {
  background-color: var(--danger);
  border: solid 0.2rem white;
  box-shadow: var(--danger_box_shadow);
  /* text-shadow: 0 0 7px rgb(105, 0, 0); */
}

#ok_msg_ctnr {
  background-color: var(--green);
  /* border: solid 0.1rem white; */
  border: solid 0.2rem white;
  box-shadow: var(--green_box_shadow);
}

#co_msg {
  width: auto;
}

#co_link_ctnr {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#sg_link_ctnr,
#co_link {
  background: transparent;
  width: auto;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  transition: all 1s ease-in;
}

#co_link {
  padding: 0 0.5rem;
  border: 0.5rem solid var(--yellow);
  box-shadow: 0 0 5px 5px var(--purple);
  cursor: pointer;
  font-size: 3rem;
}

#sg_link_ctnr {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

#sg_link {
  width: auto;
  padding: 0.5rem 2rem;
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--dark_purple);
  border: solid 5px var(--yellow);
  border-radius: 8px;
  transition: all 0.4s ease;
}


/* Page Soldout -------------------------------------------------------------------------------------------------- */

.soldout_ctnr {
  margin: auto;
  margin-top: 25vh;
  padding: 2rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: var(--white_border);
  border-radius: 1rem;
  box-shadow: var(--danger_box_shadow);
}
.soldout_ctnr p {
  font-size: 1.5rem;
  text-align: center;
  text-shadow: var(--danger_text_shadow);
}

#soldout_title {
  margin-bottom: 2rem;
  font-size: 5rem;
  text-shadow: var(--danger_text_shadow);
}

.btns_ctnr {
  display: flex;
  margin-top: 30px;
}

#reload {
  color: white;
  height: 2rem;
  margin: auto;
  margin: 0 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
  border: 0.1rem solid white;
  box-shadow: var(--danger_box_shadow);
  text-shadow: var(--danger_text_shadow);
  cursor: pointer;
  transition: all 0.4s ease;
  user-select: none;
}
#reload:hover {
  box-shadow: var(--blue_box_shadow);
  text-shadow: var(--blue_text_shadow);
  transition: all 0.4s ease;
}

/* Interface ----------------------------------------------------------------------------------------------------- */

h1.interface {
  text-align: center;
  font-size: 80px;
  color: "white";
  font-family: "CaviarDreams";
  margin-top: 20vh;
}

form.valide {
  text-align: center;
}

.nb_entrees {
  display:inline-block; 
  background-color: rgba(10, 10, 10, 0.616);
  font-size: 5rem;
  margin: 2rem auto;
  padding:  0 1rem;
  text-align: center;
  border: solid 3px white;
  box-shadow: var(--blue_box_shadow);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchform {
  position: relative;
  width: 30rem;
  margin: auto;
  height: 2rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--blue_box_shadow);
}

#search {
  height: 2rem;
  width: 100%;
  padding: 0 10px;
  border: transparent;
}

#submit {
  position: absolute;
  color: black;
  background-color: transparent;
  border: transparent;
  width: 2.5rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  cursor: pointer;
}

.greencard {
  background: rgba(125, 250, 125, 0.3);
  font-family: arial;
  font-weight: bold;
  width: 60vw;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: white;
  margin: auto;
  margin-top: 4vw;
  padding: 10px;
  border-radius: 8px;
  border: white solid 2px;
  box-shadow: var(--green_box_shadow);
  text-shadow: var(--green_text_shadow);
}
.redcard {
  background: rgba(92, 92, 92, 0.3);
  font-family: arial;
  font-weight: bold;
  width: 60vw;
  text-align: center;
  font-size: 60px;
  color: white;
  margin: auto;
  margin-top: 4vw;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--danger_box_shadow);
  text-shadow: var(--danger_text_shadow);
}

.submit {
  font-size: 50px;
  font-family: "CaviarDreams";
  color: white;
  font-weight: bold;
  margin: 8px;
  border-width: 0;
  border-radius: 8px;
  padding: 6px;
  background-color: transparent;
  border: white 3px solid;
  box-shadow: var(--green_box_shadow);
  text-shadow: var(--green_text_shadow);
  cursor: pointer;
}

.submit:hover {
  box-shadow: var(--blue_box_shadow);
  text-shadow: var(--blue_text_shadow);
  transition: all 0.4s ease;
}

/* Loading page*/

.loading-animation-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 30vh;
  height: 30vh;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid white;
  box-shadow: var(--blue_box_shadow);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 15vh;
    left: 15vh;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 30vh;
    height: 30vh;
    opacity: 0;
  }
}

/* Responsive ---------------------------------------------------------------------------------------------------- */

@media screen and (orientation: portrait), screen and (max-width: 800px) {
  body {
    background: url("img/fond_latinano_m.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--dark_purple);
    box-shadow: 0 0 10px 5px var(--dark_purple) inset;
  }
  
  #titre_sg {
    width: 48rem;
    overflow: visible;
    margin-top: 48rem;
    margin-bottom: 4rem;
    font-size: 5rem;
    border-radius: 1rem;
  }

  #co_msg_ctnr,
  #ok_msg_ctnr,
  #danger_msg_ctnr {
    font-size: 2rem;
    width: 50rem;
    margin: 4rem auto;
  }

  #sg_link,
  #co_link {
    font-size: 5rem;
    padding: 1rem 6rem;
  }

  .chiffre {
    font-size: 8rem;
  }

  .text {
    font-size: 2rem;
  }

  .digit_holder{
    margin: 0 2rem;
  }

  /* Responsive soldout */

  .soldout_ctnr {
    margin-top: 30vh;
    width: 70vw;
    min-width: 5rem;
  }
  .soldout_ctnr p {
    font-size: 2.5rem;
  }

  #soldout_title {
    font-size: 8rem;
  }

  #reload {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 2rem;
    height: 3rem;
  }
  .loading-animation-box div {
    margin-top: 10vh;
  }
}

/* Animations -------------------------------------------------------------------------------------------------------- */


/* Fonts ------------------------------------------------------------------------------------------------------------------------------ */

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mexican";
  src: url("fonts/AmbystomaMexicanum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
