*{
	margin:0;
	padding:0;
	font-weight:normal;
	font-family:sans-serif;
}

	::-webkit-scrollbar { 
		display: none; 
	}

body{
	left:0;
	right:0;
	background:url('img/background.jpg'), #222;
	background-attachment:fixed;
	background-size:cover;
	color:white;
	position:absolute;
}

h1{
	text-align: center;
	font-size: 3em;
	font-family: Mayeka;
	font-variant:small-caps;
}
h2{
	text-align: center;
	font-size: 140%;
}
a{
	text-decoration:none;
}

.quadra_img{
	min-height:60vh;
	width:100vw;
	background:url('img/bandeau_base.jpg'), #333;
	background-size:cover;
	background-attachment:fixed;
	background-position:top center;
	box-shadow:black 0px 0px 5px;
	z-index:2;
	padding-top:40vh;
}

div.quadra_text{
	position: relative;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	width:900px;
	left:0;
	right:0;
	margin:auto;
}
#quadratexte{
	width:900px;
	left:0;
	right:0;
	margin:auto;
}

#trailer_button{
	width:160px;
	height:50px;
	left:0;
	right:0;
	margin:auto;
	margin-top:30px;
	text-align:center;
	font-size:20px;
	line-height:46px;
	border-radius:30px;
	border:2px solid white;
	cursor:pointer;
	transition:background 450ms, color 450ms;
}
#trailer_button:hover{
	text-shadow: none;
	background:white;
	color:black;
}

.trailer{
	height:0;
	width:100vw;
	left:0;
	right:0;
	margin:auto;
	background:rgba(0,0,0,0.8);
}

#counter{
	position:relative;
		display:grid;
		grid-template-areas: "d_top h_top m_top s_top" "d_bottom h_bottom m_bottom s_bottom";
		grid-template-columns:200px 200px 200px 200px;
	color:white;
	background:linear-gradient(#8a4b6a, #cc3b6b);
	font-weight: bold;
	text-align:center;
	font-size:90px;
	width:800px;
	height:140px;
	left:0;
	right:0;
	top:0px;
	margin:auto;
	border-radius:10px;
	z-index:1;
}

.billetterie{
	display:grid;
	grid-template-columns:340px 340px 340px;
	grid-template-areas: "a b c" "d e f" "bottom bottom bottom";
	min-height:100vh;
	width:1020px;
	left:0;
	right:0;
	margin:auto;
}

.billetterie .billetterie_sub{
	height:400px;
	align-self:center;
	margin:20px;
	background:url('img/ticket.svg');
	border-radius:20px;
	color:#45275f;
	transition:transform 100ms;
}
.billetterie_sub:hover{
	transform: scale(1.1);
}
.billetterie h2{
	font-size:20px;
}
.button{
	text-align:center;
	font-size:20px;
	line-height:46px;
	width:260px;
	height:46px;
	left:0;
	right:0;
	margin:auto;
	margin-top:50px;
	color:white;
	background:#c3a860;
	transition:box-shadow 250ms;
}
.button:hover{
	box-shadow:#ac6e2f 0px 0px 15px;
}

.infos{
	min-height:100vh;
	width:100vw;
	left:0;
	right:0;
	margin:auto;
	background:rgba(0,0,0,0.5);
	text-align:center;
	text-transform:uppercase;
	line-height:200%;
	font-size:80%
}

.infos h1{
	padding-top:50px;
}
.infos a{
	color:white;
}
.infos strong{
	font-size:160%;
}
.infos b{
	font-size:120%;
}

.perms{
	min-height:100vh;
	border-top:2px white solid;
	display:grid;
	grid-template-columns:50px 860px 50px;
	left:0;
	right:0;
	margin:auto;
	width:960px;
}
.perms_grid{
	display:grid;
	grid-template-columns:860px 860px;
	grid-column-gap: 20px;
	left:0;
	right:0;
	margin:auto;
	width:860px;
	overflow-x:scroll;
    overflow-y:hidden;
	box-shadow:rgba(00,00,00,0.4) 0 5px 15px;
}

table {
	border-collapse:collapse;
	border:2px solid rgb(200,200,200);
	letter-spacing: 1px;
	font-size: 0.8rem;
	
}
td, th{
	border:1px solid rgb(190,190,190);
	height:30px;
}
th{
	background-color:rgba(200,200,200,0.2);
	width:140px;
}
td{
	text-align:center;
}
td:hover{
	background-color:rgba(200,200,200,0.1);
}
.table_ok{
	background:rgba(195,168,96,0.6);
}
.table_ok:hover{
	background:rgba(195,168,96,0.3);
}

	@media screen and (orientation:portrait), screen and (max-width:1020px) {
		div.quadra_text{
			width:680px;
		}
		#quadratexte{
			width:680px;
		}
		.quadra_img{
			min-height:90vh;
			padding-top:10vh;
		}
		
		.billetterie{
			display:grid;
			grid-template-columns:340px 340px;
			grid-template-areas: "a b" "c e" "bottom bottom";
			height:100%;
			width:680px;
		}
		
		#counter{
			grid-template-columns:170px 170px 170px 170px;
			font-size:90px;
			width:680px;
			height:140px;
			margin-bottom:40px;
		}
			
		.infos{
			height:100%;
		}
		
		.perms{
			height:100%;
			grid-template-columns:50px 660px 50px;
			width:760px;
		}
		.perms_grid{
			grid-template-columns:660px 660px;
			width:660px;
		}
		th, td{
			width:80px;
		}
	}

/* fermé */

#earlybird{
	opacity:0.5;
	cursor: not-allowed;
	background:url('img/ticket_soldout.svg');
}
#earlybird div{
	pointer-events: none;
}
#normal{
	opacity:0.5;
	cursor: not-allowed;
	background:url('img/ticket_soldout.svg');
}
#normal div{
	pointer-events: none;
}
#navette{
	opacity:0.5;
	/*cursor: not-allowed;*/
}/*
#navette div{
	pointer-events: none;
}*/
#latebird{
	opacity:0.5;
	cursor: not-allowed;
	background:url('img/ticket_soldout.svg');
}
#latebird div{
	pointer-events: none;
}

/**/

@font-face {
	font-family:'Mayeka';
	src:url('src/mayeka_bold_demo.otf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
